
  <p class="status">There are <span><%= @contacts.count %></span> contacts </p>
  <ul class="contacts">
    <% @contacts.each do |contact|-%>
    <li><%=contact.full_name%> (<%=contact.email%>) <br>
      <a href="#">Edit</a> | <a href="#">Delete</a></li>
    <%end-%>
  </ul>
