<div class="contact">
  <h1><%= @contact.full_name %></h1>

  <ul class="display-contacts">
    <li>email: <%= @contact.email %></li>
    <li><p>Notes:<%= @contact.note %></p></li>
  </ul>
  <form action='/contacts/<%= @contact.id %>' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Contact'>
</div>
