/*===== Color Pallete ===*/
/*#99B0BF
#BFC0C0
#3A2D32
#9E829C*/
/* ==== Layout Styles ===*/

html {
  font-size: 1rem;

}
* {
  box-sizing: border-box;
}

header {
  width: 90%;
  margin: auto;
}

h1 {
  background-color: #3A2D32;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
}

nav li {
  background-color: #BFC0C0;
  text-align: center;
  padding: 10px;
  margin: 2px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

footer {
  margin: 2px auto;
  width: 90%;
  background-color: #3A2D32;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: .75em;
}

/* ==== Contacts Page Styles ===*/

.contacts {
  width: 80%;
  margin: auto;
}

.contacts li {
  background-color: #99B0BF;
  margin: 10px auto;
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.contacts a {
  font-size: .75em;
  font-weight: lighter;
}

.status {
  margin: 10px auto;
  text-align: center;
  background-color: #9E829C;
  width: 80%;
  padding: 10px;
}
